{% extends 'monApp/base.html' %}

{% block menu %}
    <h1>{{ titremenu }}</h1>
{% endblock %}

{% block contenu %}
    <h2>{{ rayon.nomRayon }}</h2>
    <ul>
        <li>Référence rayon : {{ rayon.idRayon }} </li>
        <li>Nom rayon : {{ rayon.nomRayon }}</li>
    </ul>
    <a href="{% url 'ray-chng' rayon.idRayon %}" class="btn btn-warning mt-2">Modifier</a>
    <a href="{% url 'sup_ray' rayon.idRayon %}" class="btn btn-danger mt-2">Supprimer</a>
    <a href="{% url 'lst_rayons' %}" class="btn btn-info mt-2">Retour à la liste des rayons</a>
{% endblock %}