{% extends 'monApp/base.html' %}

{% block menu %}
    <h1>{{ titremenu }}</h1>
{% endblock %}

{% block contenu %}
    <table class="table">
    <thead>
        <th>Id</th>
        <th>Nom rayon</th>
    </thead>
    <tbody>
        {% for rayon in rayons %}
            <tr>
                <td>{{ rayon.idRayon }} </td>
                <td><a href="{% url 'dtl_rayon' rayon.idRayon %}">{{ rayon.nomRayon }}</a></td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <p>Il y a {{ rayons | length }} rayons dans le magasin.</p>
{% endblock %}