{% extends 'monApp/base.html' %}

{% block menu %}
    <h1>{{ titremenu }}</h1>
{% endblock %}

{% block contenu %}
    <table class="table">
    <thead>
        <th>Id</th>
        <th>Libelle</th>
    </thead>
    <tbody>
        {% for stat in stats %}
            <tr>
                <td>{{ stat.idStatut }} </td>
                <td><a href="{% url 'dtl_statut' stat.idStatut %}">{{ stat.libelle }}</a></td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
    <p>J'ai {{ stats | length }} statuts d'enregistrés.</p>
{% endblock %}